img {
    float: left;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.hidden {
    /* display: none; */
}

#left-col {
    width: 35%;
}
#right-col {
    width: 65%;
}

body {
    height: 100vh;
}

#header {
    min-height: 10%;
}

#main {
    min-height: 85%;
}

#footer {
    min-height: 5%;
}