img {
    float: left;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.hidden {
    
}

#left-col {
    width: 35%;
}
#right-col {
    width: 65%;
}

body {
    height: 100vh;
}

#header {
    min-height: 10%;
}
#main {
    min-height: 80%;
}
#footer {
    min-height: 10%;
}